footer#footer.footer
	.footer__top
		.footer__container.container 
			.footer__title
				|Subscribe to not miss our updates
			.footer__form
				form(action="#" method="method")
					input(type="text" placeholder='Email Address')
					button(type='submit') 
						img(src="images/footer/Arrow 1.svg", alt="alt")
	.footer__bottom
		.footer__container.container 
			.footer__row 
				.footer__column 
					span 
						a(href='#') Hedonism
					span 
						a(href='#') FAQ
					span 
						a(href='#') Smart Contract
				.footer__column 
					span 
						a(href='#') Opensea
					span 
						a(href='#') white paper
					span 
						a(href='#') Rarible
				.footer__column 
					span 
						a(href='#') Instagram
					span 
						a(href='#') Discord
					span 
						a(href='#') Twitter
			.footer__policy 
				span © 2022 MetaHedonists
				span 
					a(href='#') Terms of use
				span 
					a(href='#') Privacy Policy