header.header
	.header__container.container 
		.menu-mobile 
			ul.menu-mobile__list
				li.menu-mobile__item 
					a.menu-mobile__link.remove-click.click(href="#Manufacturing")
						|Manufacturing
				li.menu-mobile__item 
					a.menu-mobile__link.remove-click.click(href="#Research")
						|Research department
				li.menu-mobile__item 
					a.menu-mobile__link.remove-click.click(href="#Secret")
						|Secret department
				li.menu-mobile__item 
					a.menu-mobile__link.remove-click.click(href="#Wall")
						|Wall of honor
				li.menu-mobile__item 
					a.menu-mobile__link.w.remove-click.click(href="about.html")
						|About us
				li.menu-mobile__item 
					a.menu-mobile__link.w.remove-click.click(href="#")
						|Marketplace
				li.menu-mobile__item
					a.menu-mobile__link.w.remove-click.click(href="#footer")
						|Contacts
			.menu-mobile__icons 
				a(href="#") 
					img(src="images/1header/twitter.svg", alt="alt")
				a(href="#") 
					img(src="images/1header/icon-header.svg", alt="alt")
		.header__logo 
			a.header__logo--inner.click(href="index.html") 
				img(src="images/1header/logo.svg", alt="alt")
		.header__menu.menu
			ul.menu__list 
				li.menu__item.item-dropdown
					a.menu__link(href="#")
						|Departments
					.menu__dropdown.dropdown
						ul.dropdown__list 
							li.dropdown__item
								a.dropdown__link.click(href='#Manufacturing')
									|Manufacturing
							li.dropdown__item
								a.dropdown__link.click(href='#Research')
									|Research department
							li.dropdown__item
								a.dropdown__link.click(href='#Secret')
									|Secret department
							li.dropdown__item
								a.dropdown__link.click(href='#Wall')
									|Wall of honor
				li.menu__item 
					a.menu__link(href="about.html")
						|About us
				li.menu__item 
					a.menu__link.click(href="#")
						|Marketplace
				li.menu__item 
					a.menu__link.click(href="#footer")
						|Contacts
		.header__icons 
			a(href="#") 
				img(src="images/1header/twitter.svg", alt="alt")
			a(href="#") 
				img(src="images/1header/icon-header.svg", alt="alt")
		button.header__burger 
			span
			span 
			span
