extends ../layouts/default

block vars
	-
		const page = {
			title: 'MetaHedonists'
		};

block main
	.hall-image 
		img(src="images/back1.jpg", alt="alt")
	.sec1#sec1
		.sec1__container.container 
			.sec1__body 
				.sec1__wizard 
					img(src="images/1sec/wizard.svg", alt="alt")
					img(src="images/1sec/shadow.svg", alt="alt")
					.sec1__cloud
						span Hi! I’m Rex and I’m a founder of this “Joy Factory”. I’m glad to meet you. Let me show you around!
						img(src="images/1sec/Cloud1.svg", alt="alt")
			.sec1__text 
				div
				p 
					span “Joy factory” 
					|is a place, where every true hedonist can find his\her own “cup of tea”.
				p Our metaverse is a space to feel free from any prejudice and meet your soulmates. As not only hedonists, but also scientists, we have derived a unique formula of pleasure and we are going to share it with hedonists club members. 
				p Are you ready for new mind-blowing experience?
	.sec2 
		.sec2__container.container 
			.sec2__items 
				.sec2__item.item
					.item__shadow
					.item__column
						.item__image 
							img(src="images/2sec/1.svg", alt="alt")
						.item__text 
							span We are the first hedonists community in Metaverse
				.sec2__item.item
					.item__shadow
					.item__column
						.item__image 
							img(src="images/2sec/2.svg", alt="alt")
						.item__text 
							span “Joy Factory” available only for community members
				.sec2__item.item
					.item__shadow
					.item__column
						.item__image 
							img(src="images/2sec/3.svg", alt="alt")
						.item__text 
							span Regular online and offline events
				.sec2__item.item
					.item__shadow
					.item__column
						.item__image 
							img(src="images/2sec/4.svg", alt="alt")
						.item__text 
							span NFT token is community pass, minted in the blockchain
				.sec2__item.item
					.item__shadow
					.item__column
						.item__image 
							img(src="images/2sec/5.svg", alt="alt")
						.item__text 
							span Decentralized control hedonist community
				.sec2__item.item
					.item__shadow
					.item__column
						.item__image 
							img(src="images/2sec/6.svg", alt="alt")
						.item__text 
							span Access to the community only by our NFT token
	.sec3#Manufacturing
		.sec3__images
			img(src="images/3sec/road.jpg", alt="alt")
			img(src="images/3sec/back2.jpg", alt="alt")
		.sec3__container.container 
			.sec3__body 
				.sec3__title-wrapper
					.sec3__title-inner
						.sec3__title--shadow
						.sec3__title 
							span Manufacturing
				.sec3__items 
					.sec3__item.item2
						.item2__icon 
							img(src="images/3sec/1.svg", alt="alt")
						.item2__body
							.item2__header 
								span 0
								div 
									.item2__title Pack
									.item2__subtitle The sales are on 
							.item2__text
								|We’re at the very beginning and our autonomous marketplace is already working. Support us to help Metohedonists community to grow and achieve more
					.sec3__item.item2
						.item2__icon 
							img(src="images/3sec/2.svg", alt="alt")
						.item2__body
							.item2__header 
								span 1
								div 
									.item2__title Pack
									.item2__subtitle Launch of Monetization Department
							.item2__text
								|We offer you a unique opportunity not only to name your Hedonist but also to write your story
					.sec3__item.item2
						.item2__icon 
							img(src="images/3sec/3.svg", alt="alt")
						.item2__body
							.item2__header 
								span 3
								div 
									.item2__title Pack
									.item2__subtitle Secret room grand opening
							.item2__text
								|This secret shall be revealed soon!
					.sec3__item.item2
						.item2__icon 
							img(src="images/3sec/4.svg", alt="alt")
						.item2__body
							.item2__header 
								span 6
								div 
									.item2__title Pack
									.item2__subtitle Metahedonists merch
							.item2__text
								|You decide by voting what kind of merch to release
					.sec3__item.item2
						.item2__icon 
							img(src="images/3sec/5.svg", alt="alt")
						.item2__body
							.item2__header 
								span 9
								div 
									.item2__title Pack
									.item2__subtitle “Joy Factory” grand opening in Metaverse
							.item2__text
								|All Metahedonists NFT holders are invited
					.sec3__item.item2
						.item2__icon 
							img(src="images/3sec/6.svg", alt="alt")
						.item2__body
							.item2__header 
								span 10
								div 
									.item2__title Pack
									.item2__subtitle Offline party
							.item2__text
								|We are celebrating a new step in our project and announcing some big news
	.sec4__lab#sec4__lab
		img(src="images/3sec/lab.jpg", alt="alt")
		img(src="images/3sec/lab2.jpg", alt="alt")
	.sec5#Research
		.sec5__container.container
			.sec5__title
				div
					span Research department
			.sec5__mans 
				img(src="images/5sec/1.svg", alt="alt")
				img(src="images/5sec/11.svg", alt="alt")
			.sec5__row 
				.sec5__image
					img(src="images/5sec/man.svg", alt="alt")
				.sec5__body
					.sec5__text 
						|Every hedonists club member can create his\her own unique formula of pleasure and make it a reality. Join our club and improve hedonists community.
					a(href='#').sec5__btn-view.sec5__btn-desktop
						span View the catalogue
			a(href='#').sec5__btn-view.sec5__btn-mobile
				span View the catalogue
	.sec6#Secret
		.sec6__container 
			.sec6__title
				span 
					|Secret department
			.sec6__icon 
				img(src="images/6sec/1.svg", alt="alt")
			.sec6__line
				.sec6__text 
					span
						|The doors will be opened soon
	.sec7.wall#Wall
		.sec7__container.wall__container
			.sec7__btn.wall__title
				span  
					|Wall of honor
	.sec8.mans
		.sec8__container.mans__container.container 
			.sec8__items.mans__items
				.sec8__item.mans__item.item3
					.item3__column 
						.item3__image 
							img(src="images/8sec/11.svg", alt="alt")
						.item3__name Ben
						.item3__title web and blockchain developer
						.item3__subtitle 3 main passions:
						ul.item3__list 
							li.item3__point · button phones
							li.item3__point · scripts
							li.item3__point · cars
				.sec8__item.mans__item.item3
					.item3__column 
						.item3__image 
							img(src="images/8sec/22.svg", alt="alt")
						.item3__name Paulina
						.item3__title artist and design
						.item3__subtitle 3 main passions:
						ul.item3__list 
							li.item3__point · seafood
							li.item3__point · sport
							li.item3__point · cars
				.sec8__item.mans__item.item3
					.item3__column 
						.item3__image 
							img(src="images/8sec/33.svg", alt="alt")
						.item3__name Rex
						.item3__title marketing and management
						.item3__subtitle 3 main passions:
						ul.item3__list 
							li.item3__point · girls
							li.item3__point · trips
							li.item3__point · wine


